#creative {
  // background-color: transparent;

  .header-box {
    position: fixed;
    padding: 30px;
    .logo {
      a {
        // @include phone {
        //   color: aqua;
        // }
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 700;
        &:hover {
          color: white;
        }
      }
    }
    .menu {
      ul {
        li {
          list-style: none;
          a {
            text-decoration: none;
            padding-left: 20px;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 700;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
  // @include phone {
  //   .header-box {
  //     .logo {
  //       a {
  //         color: red;
  //       }
  //     }
  //   }
  // }
}
